# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.env

# Data files (DVC akan handle ini)
data/*.csv
!data/.gitkeep

# Models
models/*.pkl
models/*.joblib

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DVC
.dvc/cache